@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Country Source</h1>
    <p class="lead">O melhor Sistema de gerenciamento de Paises, Estados e Cidades!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Paises</h2>
        <p>
            Cadastro, edição e visualização de Paises
        </p>
    </div>
    <div class="col-md-4">
        <h2>Estados</h2>
        <p>Cadastro, edição e visualização de Estados</p>
    </div>
    <div class="col-md-4">
        <h2>Cidades</h2>
        <p>Cadastro, edição e visualização de Cidades</p>
    </div>
</div>